@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #003415;
}

main {
    background-color: #258749;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

h1 {
    margin-left: 20px;
}

img {
    max-width: 250px;
    max-height: 100px;
    border: 1px solid black;
}

fieldset {
    padding: 20px;
    border: 2px solid black;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

hr {
    border: 2px solid black;
    margin-bottom: 20px;
}

.answers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answers label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-indent: 5px;

    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);

    min-width: 100%;
    min-height: 25px;

    border: 1px solid black;
}

.answers label input{
    margin: 0 0 0 10px;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.question {
    margin-bottom: 10px;
    font-weight: bolder;
}


button {
    padding: 10px 20px;
    background-color: #573503e7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

aside {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}

aside div {
    display: flex;
    flex-direction: column;
}

#lampada {
    border: none;
    cursor: pointer;
}

p {
    text-align: justify;
    padding: 0 50px;
}